extends layout

block content
    h1= title
    form(id='BBWORKSForm', action="/resource/BBWORKS", method="POST")
    div.form-group
    label.BBWORKSAttr(for='PRODUCT_NAME') PRODUCT NAME
    input#PRODUCT_NAME(type='text', name='PRODUCT_NAME')
    div.form-group
    label.BBWORKSAttr(for='PRODUCT_COLLECTION') PRODUCT COLLECTION
    input#PRODUCT_COLLECTION(type='text', name='PRODUCT_COLLECTION')
    div.form-group
    label.BBWORKSAttr(for='PRODUCT_PRICE') PRODUCT PRICE
    input#PRODUCT_PRICE(type='number', name='PRODUCT_PRICE')
    input(type="submit")
    script.
        document.addEventListener('DOMContentLoaded', function () {
        console.log("Script is running");
        document.forms['BBWORKSForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });
        });