body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.BBWORKSAttr {
  background-color: aquamarine;
  color: brown;
  font: 1em sans-serif;
  font-size: large;
  font-style: oblique;
  width: 170px;
  }

p {
  background-color: red;
}
  
